<main id="main">
    <div class="container p-3 my-3 border bg-dark text-white">
      <div class="row">
        <div class="col-sm-12 border text-center">
          <h1><b>Sobre nosotros</b></h1>
        </div>
        <div class="col-sm-12 border">
          <h2>¿Quiénes somos?</h2>
          <p>Somos un par de estudiantes universitarios a los que les fascina el mundo de las criptomonedas y nos gustaría poder ayudar a otros a beneficiarse de ello. 
            Debido a que en la actualidad el mundo de las criptomonedas esta experimentando un crecimiento exponencial y como cada vez más gente se sumerge en este mundo, 
            hemos decidido crear CryptoManager, para que cualquier persona que lo desee pueda gestionar sus criptomonedas a través de nuestra aplicación web.</p>
        </div>
        <div class="col-sm-12 border">
          <h2>Nuestro objetivo</h2>
          <p>Nuestro objetivo es ofrecer a todo el mundo una aplicación web que ayude a gestionar de una manera más rápida y sencilla cualquier criptomoneda en 
            los exchanges que soporta CryptoManager, por lo que cualquier persona con una cuenta en nuestra aplicación web pueda gestionar sus criptomonedas donde, 
            cuando y como quiera.</p>
        </div>
      </div>
    </div>
  </main>