<p>kraken works!</p>

<!--
<div *ngFor="let ticker of tickers" class="container p-3 my-3 border bg-dark text-white">
  <div><span>Precio mas alto de las ultimas 24 horas: </span>{{ticker.high}}</div>
  <div><span>Precio mas bajo de las ultimas 24 horas: </span>{{ticker.low}}</div>
  <div><span>Media de las ultimas 24 horas: </span>{{ticker.average}}</div>
  <div><span>Precio de la ultima transaccion: </span>{{ticker.lastTrade}}</div>
  <div><span>Volumen de ETH comerciado durante las ultimas 24 horas: </span>{{ticker.baseVolume}}</div>
</div>
-->

<!-- Button trigger modal -->

<input #box (keyup.enter)="onEnter(box.value)">
    <p>{{value}}</p>

<div class="row">
  <div class="col-sm-4">
      <button (click)="krakenBTCEUR()">BITCOIN / EURO</button>
  </div>
  <div class="col-sm-4">
      <button (click)="krakenETHEUR()">ETHEREUM / EURO</button>
  </div>
  <div class="col-sm-4">
      <button (click)="krakenDOGEEUR()">DOGECOIN / EURO</button>
  </div>
</div>

<div class="container p-3 my-3 border bg-white text-black">

<div *ngIf="fetchingData"> Actualizando... espera unos segundos</div>

<div *ngIf="!fetchingData">
  <div><span>Precio mas alto de las ultimas 24 horas: </span>{{high}}</div>
  <div><span>Precio mas bajo de las ultimas 24 horas: </span>{{low}}</div>
  <div><span>Media de las ultimas 24 horas: </span>{{average}}</div>
  <div><span>Precio de la ultima transaccion: </span>{{lastTrade}}</div>
  <div><span>Volumen de {{ currentSymbol }} comerciado durante las ultimas 24 horas: </span>{{baseVolume}}</div>
  <div style="text-align:center">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    ></apx-chart>
  </div>

  <div class="row  text-center">
      <h1>Libro de órdenes {{ currentSymbol }}</h1>
  </div>
  <div *ngIf='fetchOrderBook && !fetchOrderBookFinish'>
      <strong>Obteniendo libro de órdenes...</strong>
      <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
  </div>
  <div *ngIf='fetchOrderBookFinish'>
      <div class="row text-center">
          <div class="table-responsive-sm">
              <table class="table table-bordered">
                  <tr>
                      <th>Precio en {{currentSymbol.substring(4,7)}}</th>
                      <th>Cantidad de {{currentSymbol.substring(0,3)}}</th>
                  </tr>
                  <tr *ngFor='let order of sell_orders?.reverse()'>
                      <td id="tdSell">{{order[0].toFixed(2)}}</td>
                      <td class="text-white">{{order[1].toFixed(8)}}</td>
                  </tr>
                  <tr *ngIf='spread !== undefined'>
                      <td class="text-white">{{ spread.toFixed(2) }}</td>
                      <td></td>
                  </tr>
                  <tr *ngFor='let order of buy_orders'>
                      <td id="tdBuy">{{order[0].toFixed(2)}}</td>
                      <td class="text-white">{{order[1].toFixed(8)}}</td>
                  </tr>
              </table>
          </div>
      </div>
  </div>

  <div>
    <table class="table table-bordered">
      <tr>
        <th>Precio en {{currentSymbol.substring(4,7)}}</th>
        <th>Cantidad de {{currentSymbol.substring(0,3)}}</th>
        <th>Fecha de transaccion</th>
      </tr>
      <tr *ngFor='let order of buyTrades?.reverse(); index as i'>
        <ng-container *ngIf='i < 6'>
          <td id="tdBuy">{{order[0]}}</td>
          <td class="text-white">{{order[1].toFixed(8)}}</td>
          <td class="text-white">{{order[2] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>
      </tr>
      <tr *ngFor='let order of sellTrades?.reverse(); index as i'>
        <ng-container *ngIf='i < 6'>
          <td id="tdSell">{{order[0]}}</td>
          <td class="text-white">{{order[1].toFixed(8)}}</td>
          <td class="text-white">{{order[2] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>



</div>
