<header id="header">
    <div class="container p-3 my-3 border bg-dark text-white text-center">
      <div class="row">
        <h1>Actualmente CryptoManager permite realizar operaciones con los siguientes exchanges:</h1>
      </div>
    </div>
  </header>

  <main id="main">
    <div class="container p-3 my-3 border bg-dark text-white text-center">
      <div class="row">
        <h2>Exchanges:</h2>
        <div class="col-sm-6 border">
          <h3 style="margin-top: 5px;"><img src="assets/imgs/exchanges/kraken.jpg" class="img-thumbnail" style="width:100px;height:100px;margin-right: 5px;" alt="Icono de Kraken"/>KRAKEN</h3>
          <div>
            <a href="https://www.kraken.com/features">Características principales de Kraken!</a>
          </div>
          <div>
            <a href="https://www.kraken.com/es-es/prices?quote=EUR">Precios de Kraken!</a>
          </div>
          <div>
            <a href="https://support.kraken.com/hc/en-us/articles/360030303832-Overview-of-fees-on-Kraken">Tarifas de Kraken!</a>
          </div>
        </div>
        <div class="col-sm-6 border">
          <h3 style="margin-top: 5px;"><img src="assets/imgs/exchanges/binance.png" class="img-thumbnail" style="width:100px;height:100px;margin-right: 5px;" alt="Icono de Binance"/>BINANCE</h3>
          <div>
            <a href="https://www.binance.com/es">Características principales de Binance!</a>
          </div>
          <div>
            <a href="https://www.binance.com/es/markets">Precios de Binance!</a>
          </div>
          <div>
            <a href="https://www.binance.com/es/support/faq/115000429332">Tarifas de Binance!</a>
          </div>
        </div>
      </div>
    </div>

  </main>
