<div class=" bg-dark text-white">
<br/>
<div class="row">
  <div class="col-sm-7 text-white" style="text-align: right;padding-top: 10px;">
    <h1>Exchange de {{ exchangeName }}</h1>
  </div>
  <div class="col-sm-5" style="text-align: left">
    <img src="{{ imgLogo }}" class="img-thumbnail" style="width:70px;height:70px;margin-right: 5px;margin-bottom: 5px;"/>
  </div>
</div>
<br/>
<div class="row text-center">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
  <select (change)="changeSymbolTest($event)" class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option [ngValue]='null' hidden>Simbolo actual: {{currentSymbol}}</option>
    <option *ngFor='let option of defaultSymbol' [ngValue]='option'>{{option}}</option>
  </select>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row text-center" style="margin-top: 20px">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
  <input #box (keyup.enter)="onEnter(box.value)" placeholder="Cambiar par: (BTC/EUR)">
      <p>{{value}}</p>
  </div>
  <div class="col-sm-3"></div>
</div>
<div *ngIf="!fetchingData" class="row text-center" style="padding-botoom: 20px;">
  <div  class="col-sm-3">
    <h4>Ultima transaccion</h4>
    <h3>{{lastTrade}}</h3>
  </div>
  <div  class="col-sm-3">
    <h4>24 horas alto/bajo</h4>
    <h3>{{high}}/{{low}}</h3>
  </div>
  <div  class="col-sm-3">
    <h4>Promedio ponderado</h4>
    <h3>{{average}}</h3>
  </div>
  <div  class="col-sm-3">
    <h4>Volumen de 24 horas:</h4>
    <h3>{{baseVolume}}</h3>
  </div>
</div>
</div>




<!--
    <select (change)="changeSymbol($event)" class="selectpicker" data-live-search="true">
      <option [ngValue]='ETH/EUR' data-tokens="ethereum">ETH/EUR</option>
      <option [ngValue]='BTC/EUR' data-tokens="bitcoin">BTC/EUR</option>
      <option [ngValue]='DOGE/EUR' data-tokens="dogecoin">DOGE/EUR</option>
      <option [ngValue]='ADA/EUR' data-tokens="adacoin or wtf">ADA/EUR</option>
      <option [ngValue]='XRP/EUR' data-tokens="xrp">XRP/EUR</option>
      <option [ngValue]='XLM/EUR' data-tokens="stella">XLM/EUR</option>
    </select> -->

<!--
<div class="row text-center">
  <div class="col-sm-4">
      <button class="btn btn-light" (click)="changeSymbol('BTC/EUR')">BITCOIN / EURO</button>
  </div>
  <div class="col-sm-4">
      <button class="btn btn-light" (click)="changeSymbol('ETH/EUR')">ETHEREUM / EURO</button>
  </div>
  <div class="col-sm-4">
      <button class="btn btn-light" (click)="changeSymbol('DOGE/EUR')">DOGECOIN / EURO</button>
  </div>
</div>
-->

<div *ngIf="fetchingData" class="container p-3 my-3 bg-dark text-white">
    <strong>Actualizando los datos del exchange....</strong>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="!fetchingData" class="container p-3 my-3 border bg-white text-black">
  <div class="row text-center">
    <div class="col-sm-4">
        <button class="btn btn-light" (click)="changeChart('day')">Day</button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-light" (click)="changeChart('week')">Week</button>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-light" (click)="changeChart('month')">Month</button>
    </div>
  </div>

  <div *ngIf="updatingGraph">
    <strong>Actualizando el grafo....</strong>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="!updatingGraph" style="text-align:center">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    ></apx-chart>
  </div>

</div>

<br/>

<div *ngIf="!fetchingData" class="container p-3 my-3 bg-dark text-white">
  <div class="row  text-center">
    <div  class="col-sm-6">
      <h1>Libro de órdenes {{ currentSymbol }}</h1>
    </div>
    <div  class="col-sm-6">
      <h1>Ultimas compras y ventas {{ currentSymbol }}</h1>
    </div>
  </div>
  <div *ngIf='fetchOrderBook && !fetchOrderBookFinish'>
      <strong>Obteniendo libro de órdenes...</strong>
      <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
  </div>
  <div *ngIf='fetchOrderBookFinish'>
      <div class="row text-center">
        <div  class="col-sm-6">
          <div class="table-responsive-sm">
              <table class="table table-bordered">
                  <tr>
                      <th>Precio en {{currentSymbol.substring(4,7)}}</th>
                      <th>Cantidad de {{currentSymbol.substring(0,3)}}</th>
                  </tr>
                  <tr *ngFor='let order of sell_orders?.reverse()'>
                      <td id="tdSell">{{order[0].toFixed(2)}}</td>
                      <td>{{order[1].toFixed(8)}}</td>
                  </tr>
                  <tr *ngIf='spread !== undefined'>
                      <td>{{ spread.toFixed(2) }}</td>
                      <td></td>
                  </tr>
                  <tr *ngFor='let order of buy_orders'>
                      <td id="tdBuy">{{order[0].toFixed(2)}}</td>
                      <td>{{order[1].toFixed(8)}}</td>
                  </tr>
              </table>
          </div>
        </div>
        <div  class="col-sm-6">
          <table class="table table-bordered">
            <tr>
              <th>Precio en {{currentSymbol.substring(4,7)}}</th>
              <th>Cantidad de {{currentSymbol.substring(0,3)}}</th>
              <th>Fecha de transaccion</th>
            </tr>
            <tr *ngFor='let order of buyTrades?.reverse(); index as i'>
              <ng-container *ngIf='i < 6'>
                <td id="tdBuy">{{order[0]}}</td>
                <td>{{order[1].toFixed(8)}}</td>
                <td>{{order[2] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
              </ng-container>
            </tr>
            <tr *ngFor='let order of sellTrades?.reverse(); index as i'>
              <ng-container *ngIf='i < 6'>
                <td id="tdSell">{{order[0]}}</td>
                <td>{{order[1].toFixed(8)}}</td>
                <td>{{order[2] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
              </ng-container>
            </tr>
          </table>
        </div>


      </div>
  </div>

  <br/>

</div>
