<div id="nav_bar">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0B7E70;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="assets/imgs/CryptoManager-logo.png" style="width:50px;height:50px;"/>
        CryptoManager
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/exchanges" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">Exchanges</a> <!-- Add a app-routing /exchanges-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="/kraken">Kraken</a></li>
              <li><a class="dropdown-item" href="/help#BINANCE">Binance</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/help" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ayuda</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="/help#KRAKEN">Kraken</a></li><!-- Add a app-routing /help-->
              <li><a class="dropdown-item" href="/help#BINANCE">Binance</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/help#CM">Configurar CryptoManager</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutUs">Nosotros</a><!-- Add a app-routing /aboutUS-->
          </li>

          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
          </li>
          <li class="nav-item">
            <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
          </li>

          <li class="nav-item dropdown navbar-right" *ngIf="!isLoggedIn">
            <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/imgs/home/user-account-logo.png" style="width:20px;height:20px;margin-right: 5px;" alt="Icono cuenta">Cuenta
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" href="/login">Iniciar sesión</a></li>
              <li><a class="dropdown-item" href="/register">Registrarse</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown" *ngIf="isLoggedIn">
            <a class="nav-link dropdown-toggle" href="/help" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cuenta</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" href="/profile">Perfil de: {{ username }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <router-outlet></router-outlet> -->
