<div class="container p-3 my-3 bg-white" *ngIf="currentUser; else loggedOut">
  <header>
    <h3>
      Perfil de: <strong>{{ currentUser.username }}</strong>
    </h3>
  </header>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <strong>Token:</strong>
        {{ currentUser.accessToken.substring(0, 20) }} ...
        {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        <strong>Correo:</strong>
        {{ currentUser.email }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" *ngFor='let exchange of exchangesSoportados'>
      Conexión con la API de: {{exchange}}
      <div *ngIf='exchange == "kraken"'>
        API CONFIG: {{krakenAPIKeys}}
      </div>
      <div *ngIf='exchange == "binance" && binanceAPIKeys'>
        API PUBLIC: {{currentUser.binancePublic}}
        API SECRET: {{currentUser.binanceSecret}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-warning">Añadir conexión a la API de un exchange</button>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <strong>Rol:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
